# file extensions
*.project 
*.pydevproject 
*.zip
*.pyc 
*~
*.txt
*.png
*.eps
*.html 

# unwanted directories
.svn/
.metadata/ 
README.html 
build/
dist/
docs/ 
fit_neuron.egg-info/
other/
test_output_figures/
profile.txt

